---
import Typography from "../Typography.astro";
---
<section class="px-32">
    <Typography variant="h2">
        Acerca de <span class="text-color3 font-bold">mí</span>
    </Typography>

    <div class="space-y-6">
        <Typography variant="p">
            Mi historia con la informática comienza desde bien pequeño. Mi curiosidad hizo que con 8 años estropease mi primer ordenador. Al parecer, con volver a meter los componentes en la caja no bastaba... Desde ese momento supe que quería trabajar con estos cacharros...
        </Typography>

        <Typography variant="p">
            Y así fue. <span class="font-bold text-color3">Me gradué en informática</span> <span class="font-bold">(especializándome en la rama de desarrollo web)</span> en la universidad de Alicante. Posteriormente, <span class="font-bold">realicé un</span> <span class="font-bold text-color3">master de desarrollo de aplicaciones y servicios web</span> <span class="font-bold">también en Alicante.</span>
        </Typography>

        <Typography variant="p">
            Por el camino, mi curiosidad me ha llevado a <span class="font-bold">crear varias aplicaciones web, juguetear con frameworks, realizar cursos e incluso fundar mi propia empresa.</span>
        </Typography>

        <Typography variant="p">
            En cuanto a las tecnologías que suelo utilizar, <span class="font-bold text-color3">comencé a trabajar con vanilla PHP en 2013,</span> hasta que en la carrera nos obligaron a usar <span class="font-bold text-color3"> Laravel</span> para el proyecto final (gracias Joan). Desde entonces, estoy enamorado del framework y lo utilizo para prácticamente todos los backend que desarrollo.
        </Typography>

        <Typography variant="p">
            Posteriormente, incluí <span class="font-bold text-color3">Vue.js</span> en mis desarrollos y la verdad es que ha sido una evolución enorme en cuanto a productividad, mantenibilidad y escalabilidad. El stack Laravel + Vue.js me encanta.
        </Typography>
    </div>
</section>