---

import Typography from "../Typography.astro";
import Experiencia from "../../types/Experiencia";
import Tecnologia from "../../types/Tecnologia";
import TecnologyPainting from "../TecnologyPainting.astro";

const experiencia:Array<Experiencia> = [
    {
        empresa: "Gadmin",
        duracion: "Junio 2018 - Actualidad (5 años y 8 meses)",
        descripcion: `<p>Comencé como desarrollador full stack con <span class='font-bold text-color3'>vanilla PHP</span>.</p><p>Al año de empezar, decidimos iniciar una migración del sistema actual a <span class="font-bold text-color3">Laravel + Vue.js</span> para mayor escalabilidad y mantenibilidad.</p><p>También me encargo de <span class="font-bold text-color3">desarrollar y publicar las apps híbridas de los clientes</span> que contratan este servicio.</p><p>Por último, <span class="font-bold text-color3">brindo asistencia y soporte técnico</span> tanto por correo como por teléfono.</p>`,
        tecnologias: [
            "laravel",
            "vue",
            "php",
            "mysql",
            "html5",
            "css3",
            "sass",
            "js",
            "ts",
            "jquery",
            "android",
            "ios",
            "aws",
            "git",
            "api-rest",
            "soporte-tecnico"
        ]
    },
    {
        empresa: "Lisenrigs",
        duracion: "Marzo 2018 - Julio 2020",
        descripcion: `<p>Fui fundador de este proyecto junto con un compañero de carrera.</p><p>Desarrollamos un <span class="font-bold text-color3">sistema operativo para minería de criptomonedas basado en Linux</span> y un <span class="font-bold text-color3">servicio en Laravel para poder configurar y controlar cada máquina</span> </p><p>El proyecto se llevó hasta la fase beta y <span class="font-bold text-color3">se testeó con más de cien mineros</span> de nuestro grupo de Telegram</p><p>Tras la caída de precio de las criptomonedas y la baja actividad de los mineros, decidimos descontinuar el proyecto</p>`,
        tecnologias: [
            "laravel",
            "php",
            "mysql",
            "html5",
            "css3",
            "js",
            "jquery",
            "android",
            "git",
            "linux",
            "api-rest",
            "bootstrap"
        ]
    },
    {
        empresa: "Everilion",
        duracion: "Abril 2017 - Mayo 2018",
        descripcion: `<p>Trabajé como <span class="font-bold text-color3">programador junior destinado en el area de servicio</span></p><p><span class="font-bold text-color3">Manteníamos y evolucionábamos el API REST</span> de pagos de aplicaciones como Repsol o WiZink</p><p>Además, <span class="font-bold text-color3">realicé desarrollos fullstack</span> para las apps anteriormente mencionadas.</p><p>Utilizaba tecnología <span class="font-bold text-color3">Microsoft (.NET MVC4, SQL Server, TFS y las tecnologías típicas de frontend)</span> </p>`,
        tecnologias: [
            ".net",
            "c#",
            "html5",
            "css3",
            "js",
            "jquery",
            "sqlserver",
            "tfs",
            "api-rest",
        ]
    },
    {
        empresa: "Banco de la Piel",
        duracion: "Enero 2015 - Enero 2018",
        descripcion: `<p><span class="font-bold text-color3">Socio fundador del proyecto</span> junto con un comerciante de pieles de toda la vida</p><p>El proyecto se basa en la idea de <span class="font-bold">proveer un punto de encuentro tanto virtual como físico a curtidores de pieles y fabricantes de calzado de toda España.</p><p><span class="font-bold text-color3">Página web desarrollada en PHP. Sistema de gestión interno y control de acceso al showroom físico mediante smartphone desarrollados en Laravel</span></p><p>Tras tres años, decidí desistir de mis participaciones para dedicarme a otras cosas</p><p><span class="font-bold">Actualmente, el proyecto Banco de la Piel sigue en funcionamiento</span></p>`,
        tecnologias: [
            "laravel",
            "php",
            "mysql",
            "html5",
            "css3",
            "bootstrap",
            "js",
            "jquery",
            "git",
        ]
    },
    {
        empresa: "Axiomasbooks",
        duracion: "Octubre 2016 - Marzo 2017",
        descripcion: `<p>Tras finalizar el máster que había estado centrado en .NET, decidí buscar trabajo con esta tecnología. Pero antes, quería adquirir algo de soltura y experiencia con el framework.</p><p>Para ello, <span class="font-bold text-color3">desarrollé la página de axiomasbooks para un cliente</span></p><p>Era un <span class="font-bold text-color3">portal de compra-venta de libros usados</span></p><p>El proyecto estuvo funcionando varios años hasta la web cerró</p>`,
        tecnologias: [
            ".net",
            "c#",
            "html5",
            "css3",
            "bootstrap",
            "js",
            "jquery",
        ]
    },
]
---

<section class="px-32">
    <Typography variant="h2">Mi <span class="text-color3">experiencia</span></Typography>

    <div class="relative">
        <div class="block w-[1px] h-full bg-color4 absolute -left-[50px]"></div>
        <ul class="space-y-12">
            {experiencia.map((exp, index) => (
                <li class="">
                    {index === experiencia.length-1 &&
                            <div class="block w-1 h-full bg-background absolute -left-[50px]"></div>}

                    <Typography variant="p" class="text-xl relative font-bold">
                        {exp.duracion}
                        <span class="bg-color4 block rounded-full w-[28px] h-[28px] absolute top-0 -left-16"></span>
                    </Typography>
                    <Typography variant="h3" class="text-color3">{exp.empresa}</Typography>
                    <Typography variant="p" class="space-y-8">
                        <div class="space-y-2" set:html={exp.descripcion}></div>
                    </Typography>
                    <TecnologyPainting tecnologiasUsadas={exp.tecnologias} />
                </li>
            ))}
        </ul>
    </div>
</section>