---

import Typography from "../Typography.astro";
import { type Experiencia } from "../../types/Experiencia";
import TecnologyPainting from "../TecnologyPainting.astro";

const experiencia:Array<Experiencia> = [
    {
        empresa: "Gadmin",
        duracion: "Junio 2018 - Actualidad",
        descripcion: `<ul class="list-disc space-y-2">
            <li>Desarrollo y publicación de aplicaciones web de nuevos clientes</li>
            <li>Mantenimiento y evolución de las páginas de los clientes actuales (PHP vanilla - Framework propio)</li>
            <li><span class="font-bold text-color3">Migración (desde vanilla PHP a Laravel + Vue.js)</span>, mantenimiento y evolución del panel de administración</li>
            <li><span class="text-color3 font-bold">Mantenimiento y evolución del API REST (Laravel)</span> que da servicio a aplicaciones externas</li>
            <li>Responsable del desarrollo y publicación de las aplicaciones móviles de los clientes</li>   
            <li>Asistencia y soporte técnico a clientes.</li>
        </ul>`,
        tecnologias: [
            "laravel",
            "vue",
            "php",
            "mysql",
            "html5",
            "css3",
            "sass",
            "js",
            "ts",
            "jquery",
            "android",
            "ios",
            "aws",
            "git",
            "api-rest",
            "soporte-tecnico"
        ]
    },
    {
        empresa: "Lisenrigs",
        duracion: "Marzo 2018 - Julio 2020",
        descripcion: `<p>Fundador del proyecto junto con un compañero de carrera.</p><p>Desarrollamos un <span class="font-bold text-color3">sistema operativo para minería de criptomonedas basado en Linux</span> y un <span class="font-bold text-color3">servicio en Laravel para poder configurar y controlar cada máquina.</span> </p><p>El proyecto se llevó hasta la fase beta y <span class="font-bold text-color3">se testeó con más de cien mineros</span> de nuestro grupo de Telegram</p>
        <p><button data-modal-target="modal-lisenrigs" data-modal-toggle="modal-lisenrigs" class="mt-4 px-4 py-2 bg-color3 text-color4 rounded-lg shadow-md shadow-color2">Ver proyecto</button></p>`,
        tecnologias: [
            "laravel",
            "php",
            "mysql",
            "html5",
            "css3",
            "bootstrap",
            "js",
            "jquery",
            "android",
            "git",
            "linux",
            "api-rest"
        ]
    },
    {
        empresa: "Everilion",
        duracion: "Abril 2017 - Mayo 2018",
        descripcion: `<p>Trabajé como <span class="font-bold text-color3">programador junior destinado en el área de servicio.</span></p>
        <ul class="list-disc space-y-2">
            <li>
                <span class="font-bold text-color3">Mantenimiento y evolución del API REST</span> de pagos de aplicaciones como Repsol o WiZink
            </li>
            <li>
                <span class="font-bold text-color3">Desarrollos fullStack de algunas páginas</span> de las apps anteriormente mencionadas.</p>
            </li>
        </ul>`,
        tecnologias: [
            ".net",
            "c#",
            "html5",
            "css3",
            "js",
            "jquery",
            "sqlserver",
            "tfs",
            "api-rest",
        ]
    },
    {
        empresa: "Banco de la Piel",
        duracion: "Enero 2015 - Enero 2018",
        descripcion: `<p><span class="font-bold text-color3">Socio fundador del proyecto</span> junto con un comerciante de pieles de toda la vida.</p>
<ul class="list-disc space-y-2">
    <li>
        Responsable del <span class="font-bold text-color3">desarrollo de la página web en PHP</span>
    </li>
    <li>
        Responsable del<span class="font-bold text-color3"> desarrollo y mantenimiento en Laravel y CodeIgniter de las aplicaciones internas de gestión</span> (stock de pieles, clientes, facturación, control de acceso al showroom mediante smartphone, etc.).
    </li>
</ul><p><button data-modal-target="modal-bancodelapiel" data-modal-toggle="modal-bancodelapiel" class="mt-4 px-4 py-2 bg-color3 text-color4 rounded-lg shadow-md shadow-color2">Ver proyecto</button></p>`,
        tecnologias: [
            "laravel",
            "php",
            "mysql",
            "html5",
            "css3",
            "bootstrap",
            "js",
            "jquery",
            "git",
        ]
    },
    {
        empresa: "Axiomasbooks",
        duracion: "Octubre 2016 - Marzo 2017",
        descripcion: `<p>Trabajo realizado como freelance para un cliente.</p>
<p class="text-color3 font-bold">Portal de compra-venta de libros de segunda mano desarrollado usando .NET MVC4.</p><ul class="space-y-2 list-disc"><li>Responsable del desarrollo del frontal de la web y el panel de administración.</li></ul>`,
        tecnologias: [
            ".net",
            "c#",
            "html5",
            "css3",
            "bootstrap",
            "js",
            "jquery",
        ]
    },
]
---

<section class="">
    <Typography variant="h2">Mi <span class="text-color3">experiencia</span></Typography>

    <div class="relative">
        <div class="hidden sm:block w-[1px] h-full bg-color4 absolute -left-[50px]"></div>
        <ul class="space-y-12">
            {experiencia.map((exp, index) => (
                <li class="">
                    {index === experiencia.length-1 &&
                            <div class="hidden sm:block w-1 bg-background absolute -left-[50px]"></div>}

                    <Typography variant="p" class="text-xl relative font-bold">
                        {exp.duracion}
                        <span class="bg-color4 hidden sm:block rounded-full w-[28px] h-[28px] border-4 border-background absolute top-0 -left-16">
                        </span>
                    </Typography>
                    <Typography variant="h3" class="text-color3">{exp.empresa}</Typography>
                    <Typography variant="p" class="space-y-8">
                        <div class="space-y-2" set:html={exp.descripcion}></div>
                    </Typography>
                    <TecnologyPainting tecnologiasUsadas={exp.tecnologias} />
                </li>
            ))}
        </ul>
    </div>
</section>