---
const { variant, class:classNames } = Astro.props
---

{ variant === "h1" &&
    <h1 class:list={["text-8xl font-bold", classNames]}>
        <slot />
    </h1> }

{ variant === "h2" &&
<h2 class:list={["text-6xl font-bold mb-10", classNames]}>
    <slot />
</h2> }

{ variant === "h3" &&
<h3 class:list={["text-5xl font-bold mb-6", classNames]}>
    <slot />
</h3> }

{ variant === "p" &&
    <p class:list={["font-xl text-pretty", classNames]}>
        <slot />
    </p>
}
